.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0% 5%;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
	background:$secundary-color;
}

.box-article {
  text-align: center;
	padding-top: 5%;
  margin-bottom: 5%;
}

.section-container {
  max-width: 300px;
  color: $secundary-color;
  text-align: center;
  margin: 0 auto;
}

.img-common {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.img-testim {
	width: 300px;
	margin-top: 5%;
}

.text-border {
	padding: 4%;
	border-bottom: 0.5px solid $primary-color;
}

@media (min-width:768px) {

	.container {
    width: 90%;
    max-width:980px;
    padding: 0% 5%;
		box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
		background:$secundary-color;
		margin-left: auto;
		margin-right: auto;
	}

  .section-container {
    max-width: 600px;
    height: 200px;
    margin-top: 80px;
  }

  .icon-up{
    display: none;
  }

	.testimonious-flex {
		display: flex;
		flex-wrap: nowrap;
		text-align: center;
		width: 100%;
	}

  .tableauPlaceholder {
    z-index: 0;
    margin-bottom: 50px;
  }

}
