.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 5% 5%;
  box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
  background:$secundary-color;
}

.box-article {
  text-align: center;
  padding-top: 5%;
  p {
    text-align: justify;
  }
  ul{
    margin: 0 10%;
  }
  li{
    text-align: left;
    font-family: $default-font-family-lowercase;
  }
}

.section-container {
  max-width: 300px;
  color: $secundary-color;
  text-align: center;
  margin: 0 auto;
}

.img-common {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-testim {
  width: 300px;
  margin-top: 5%;
}

.text-border {
  padding: 4%;
  border-bottom: 0.5px solid $primary-color;
}

input {
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 20px 30px;
}

.showdata {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viz{
  display: block;
  margin: 0 1em;
  h3{
    font-size: 80%;
  }
  a {
    text-decoration: none;
  }
  .footer{
    text-align: right;
    font-size: small;
    font-style: italic;
  }
}
.town {
  display: inline-block;
}

@media (min-width:768px) {

  .container {
    width: 90%;
    max-width:980px;
    padding: 0% 5% 1% 5%;
    box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);
    background:$secundary-color;
    margin-left: auto;
    margin-right: auto;
  }

  .section-container {
    max-width: 600px;
    height: 200px;
    margin-top: 80px;
  }

  .testimonious-flex {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
  }

  .tableauPlaceholder {
    z-index: 0;
    margin-bottom: 50px;
  }

}
