
.main-test-title {
  letter-spacing: 0.075em;
  padding-bottom: 2%;
  padding-top: 4%;
  max-width: 980px;
  margin: auto;
  background-color: $secundary-color;
  text-align: center;
}

.posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 980px;
  margin: auto;
}

.posts-container article {
  display: block;
  border: 1px solid $color-border-article;
  padding: 5%;
  margin: auto;
  max-width: 100%;
  background-color: $secundary-color;
}

.posts-container h3 {
  font-family: $default-font-family-uppercase;
  letter-spacing: 0.075em;
  text-align: center;
}

.post-article a {
  color: inherit;
  text-decoration: none;
}

.posts-container p {
  text-align: justify;
}

.posts-container img {
  width: 100%;
}

.posts-container button {
  display: block;
  text-transform: uppercase;
  margin: auto;
}


@media (min-width: $breakpoint-tablet) {
  .main-test-title {
    width: 90%;
  }

  .posts-container {
    width: 90%;
    flex-direction: row;
  }

  .posts-container article {
      max-width: 50%;
  }
}
