
$default-font-family-lowercase: 'Merriweather', serif;
$default-font-family-uppercase: 'Source Sans Pro', sans-serif;
$primary-color : #666666;
$secundary-color : white;
$color-menu-button: #5d6836;
$color-title: #5e6f5f;
$color-hr: #878670;
$color-text: #3b4444;
$color-border-article: #ebead9;
$breakpoint-tablet: 768px;
