
$default-font-family-lowercase: 'Merriweather', serif;
$default-font-family-uppercase: 'Source Sans Pro', sans-serif;
$primary-color : #666666;
$secundary-color : white;
/*$text-color: #212931; queda mejor que el negro puro*/
/*$article-border-color: solid #eeeeee;*/
/*$breakpoint-tablet: 768px; Sustistuir en las media querys*/
