@charset "UTF-8";
/*$text-color: #212931; queda mejor que el negro puro*/
h1,
h2 {
  line-height: 1em; }

h1 {
  font-size: 3em;
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  font-size: 2.5em;
  margin: 10px 0;
  font-family: "Source Sans Pro", sans-serif; }

h3 {
  font-size: 1.5em;
  font-family: "Merriweather", serif; }

p {
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 50px; }

hr {
  margin-top: 5px;
  margin-bottom: 50px;
  background: #666666;
  height: 3px;
  width: 30%;
  border: none; }

@media (min-width: 768px) {
  hr {
    width: 15%; } }
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 25px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  background-color: #666666;
  /*color: $text-color; queda mejor que el negro puro y mejora la legibilidad*/ }

@media (min-width: 768px) {
  body {
    background: url(https://images.pexels.com/photos/122376/pexels-photo-122376.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    /* Nuestra imagen de fondo */
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
    line-height: 30px;
    font-size: 1.2em; } }
.btn {
  width: 250px;
  height: 60px;
  background-color: #fff;
  border: 4px solid #000;
  margin-bottom: 5%;
  font-size: 0.8em; }

.btn:hover {
  background-color: #666666;
  color: white;
  border: 4px solid #666666;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

@media (min-width: 768px) {
  .btn {
    width: 300px; } }
.quotes {
  border-left: 3px solid #cfd1d3;
  margin-left: 2rem;
  padding: 0.5rem 0 1rem 2rem;
  font-style: italic;
  font-weight: lighter;
  color: #64696f;
  vertical-align: baseline; }

.iframe-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.title-container {
  max-width: 300px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.img-arrow {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px; }

.header-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif; }

.btn-container {
  width: 100%;
  text-align: right; }

.btn-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.875);
  -webkit-box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
          box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
  color: #212931;
  width: 50px;
  z-index: 1; }

.btn-menu-img {
  width: 100%; }

.nav {
  display: none; }

.menu-small-content {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: white;
  top: 0px;
  right: 0px; }

.btn-menu-close {
  border: none;
  background: none;
  width: 40px;
  padding-top: 20px; }

.btn-menu-close-img {
  width: 100%; }

.nav-small {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px; }

.nav-small-item {
  border-bottom: 2px solid grey; }

.nav-small-item:last-child {
  border-bottom: none; }

.nav-small-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

/*Submenú de datos*/
.subnav-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.subnav-a-img {
  width: 20px;
  -webkit-transition: 300ms linear all;
  transition: 300ms linear all; }

.subnav-a-img-rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 300ms linear all;
  transition: 300ms linear all; }

.sub-nav {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; }

.sub-nav-show {
  max-height: 500px;
  -webkit-transition: max-height 0.50s ease-in;
  transition: max-height 0.50s ease-in; }

.subnav-items:last-child {
  padding-bottom: 14px; }

.subnav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  color: black;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }

.subnav-links:active {
  color: #18bfef; }

.submenu-data {
  display: none; }

.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden; }

.up-page {
  width: 50px;
  position: fixed;
  display: none;
  bottom: 30px;
  right: 10px;
  cursor: pointer; }

@media (min-width: 768px) {
  .title-container {
    max-width: 600px;
    height: 550px;
    margin-top: 80px; }

  @-webkit-keyframes img-arrow {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    25%,
    75% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px); } }
  @keyframes img-arrow {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    25%,
    75% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px); } }
  .img-arrow {
    width: 90px; }

  .img-arrow:hover {
    -webkit-animation: img-arrow 1s ease;
    animation: img-arrow 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

  .btn-menu {
    display: none; }

  .menu {
    width: 100%; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 980px;
    height: 4rem;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    background: rgba(255, 255, 255, 0.175); }

  .nav-link {
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 4rem;
    display: block; }

  .nav-item:hover {
    background: rgba(255, 255, 255, 0.175); }

  .nav-item-active {
    background: #ffffff; }

  .nav-link-active {
    color: #212931; }

  .nav-link-active:hover {
    color: #18bfef;
    background: #ffffff; }

  .submenu-data {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 0px;
    background-color: white; }

  .submenu-data-items {
    list-style: none;
    display: inline;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative; }

  .submenu-data-links {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    padding: 12px;
    display: block; }

  .submenu-data-links:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 30px;
    right: 100%;
    bottom: 4px;
    background: #2098D1;
    height: 3px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }

  .submenu-data-links:hover:before, .submenu-data:focus:before, .submenu-data:active:before {
    right: 30px; }

  .menu-small-content {
    display: none; }

  .fixed {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgba(54, 54, 54, 0.9);
    -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
    -webkit-transition: 1.2s;
    transition: 1.2s; }

  .anchor {
    top: -100px; }

  .icon-up {
    display: none; } }
.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 0% 5%;
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
  background: white; }

.box-article {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%; }

.section-container {
  max-width: 300px;
  color: white;
  text-align: center;
  margin: 0 auto; }

.img-common {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%; }

.img-testim {
  width: 300px;
  margin-top: 5%; }

.text-border {
  padding: 4%;
  border-bottom: 0.5px solid #666666; }

@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 980px;
    padding: 0% 5%;
    -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
            box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
    background: white;
    margin-left: auto;
    margin-right: auto; }

  .section-container {
    max-width: 600px;
    height: 200px;
    margin-top: 80px; }

  .testimonious-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
    width: 100%; }

  .tableauPlaceholder {
    z-index: 0;
    margin-bottom: 50px; } }
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.icon-social {
  width: 50px;
  padding-right: 5%; }

.text-footer {
  color: white; }

@media (min-width: 768px) {
  footer {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .icon-social {
    width: 70px; } }
.main-test-title {
  letter-spacing: 0.075em;
  padding: 5%;
  max-width: 980px;
  margin: auto;
  background-color: white;
  text-align: center; }

.main-test-title hr {
  margin-bottom: 0; }

.posts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 980px;
  margin: auto; }

.posts-container article {
  display: block;
  border: 1px solid #eeeeee;
  padding: 5%;
  margin: auto;
  max-width: 100%;
  background-color: white; }

.posts-container h3 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  letter-spacing: 0.075em;
  text-align: center; }

.post-article a {
  color: inherit;
  text-decoration: none; }

.posts-container p {
  text-align: justify; }

.posts-container img {
  width: 100%; }

.posts-container button {
  display: block;
  text-transform: uppercase;
  margin: auto; }

@media (min-width: 768px) {
  .posts-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 40px; }

  .posts-container article {
    max-width: 50%; } }

/*# sourceMappingURL=index.css.map */