
@import "_setting.scss";
@import "_typography.scss";
@import "_general.scss";
@import "componets/_button.scss";
@import "componets/_quotes.scss";
@import "componets/_iframe.scss";
@import "layout/_header.scss";
@import "layout/_main.scss";
@import "layout/_footer.scss";
@import "layout/_testimonios_main";
@import "layout/_about.scss";
