@charset "UTF-8";
h2,
h3 {
  color: #5e6f5f; }

h1 {
  color: white; }

p,
#percentage,
#input {
  color: #3b4444; }

small {
  padding-top: 40px;
  color: #878670; }

h1,
h2 {
  line-height: 1em; }

h1 {
  font-size: 3em;
  font-family: "Source Sans Pro", sans-serif; }

h2 {
  font-size: 2.5em;
  margin: 10px 0;
  font-family: "Source Sans Pro", sans-serif; }

h3 {
  font-size: 1.5em;
  font-family: "Merriweather", serif; }

p {
  font-family: "Merriweather", serif;
  font-size: 1em;
  line-height: 1.3em;
  margin-top: 20px;
  margin-bottom: 50px; }

.team-title {
  margin-bottom: 15px; }

.team {
  font-size: 0.8em;
  line-height: 0.6em; }

hr {
  margin-top: 5px;
  margin-bottom: 50px;
  background: #878670;
  height: 3px;
  width: 30%;
  border: none; }

#percentage {
  font-family: "Merriweather", serif;
  color: #5e6f5f;
  font-size: 4em;
  line-height: 1.5;
  margin: 40px; }

small,
#input {
  font-family: "Merriweather", serif; }

@media (min-width: 768px) {
  hr {
    width: 15%; } }
* {
  box-sizing: border-box; }

body {
  line-height: 25px;
  margin: 0;
  padding: 0;
  margin-top: 100px;
  background-color: #5d6836;
  color: #3b4444; }

@media (min-width: 768px) {
  body {
    background: url(../images/foto1.jpg);
    /* Nuestra imagen de fondo */
    background-repeat: no-repeat;
    /* Indicamos que no se repetira */
    background-size: cover;
    /* Encajamos la imagen al 100% del ancho */
    background-attachment: fixed;
    /* Establecemos una posicion fija para la imagen */
    line-height: 30px;
    font-size: 1.2em; } }
.btn {
  width: 250px;
  height: 60px;
  cursor: pointer;
  background-color: white;
  color: #5d6836;
  border: 4px solid #5d6836;
  margin-bottom: 5%;
  font-size: 0.8em; }

.btn:hover {
  background-color: #5d6836;
  color: white;
  border: 4px solid #5d6836;
  transition: 0.5s; }

@media (min-width: 768px) {
  .btn {
    width: 300px; } }
.quotes {
  border-left: 3px solid #cfd1d3;
  margin-left: 2rem;
  padding: 0.5rem 0 1rem 2rem;
  font-style: italic;
  font-weight: lighter;
  color: #64696f;
  vertical-align: baseline; }

.iframe-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden; }

.iframe-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.title-container {
  max-width: 300px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.title-home {
  animation: fadeFromTop 5s; }

@keyframes fadeFromTop {
  0% {
    opacity: 0; }
  transform: translateY(-40%); }
.p-title {
  animation: fadeFromTop 5s;
  color: white; }

.img-arrow {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70px; }

.header-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif; }

.btn-container {
  width: 100%;
  text-align: right; }

.btn-menu {
  position: fixed;
  display: flex;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.875);
  box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
  border-radius: 5px;
  color: #212931;
  width: 50px;
  z-index: 1; }

.btn-menu-img {
  width: 100%; }

.nav {
  display: none; }

.menu-small-content {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  transition: 0.9s;
  background-color: white;
  top: 0px;
  right: 0px; }

.btn-menu-close {
  border: none;
  background: none;
  width: 40px;
  padding-top: 20px; }

.btn-menu-close-img {
  width: 100%; }

.nav-small {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px; }

.nav-small-item {
  border-bottom: 2px solid grey; }

.nav-small-item:last-child {
  border-bottom: none; }

.nav-small-link {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

/*Submenú versión móvil (subnav)*/
.subnav-a {
  display: flex;
  align-items: baseline;
  justify-content: space-between; }

.subnav-a-img {
  width: 20px;
  transition: 300ms linear all; }

.subnav-a-img-rotate {
  transform: rotate(-180deg);
  transition: 300ms linear all; }

.sub-nav {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out; }

.sub-nav-show {
  max-height: 500px;
  transition: max-height 0.50s ease-in; }

.subnav-items:last-child {
  padding-bottom: 14px; }

.subnav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  color: black;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }

.subnav-links:active {
  color: #5d6836; }

.submenu-data {
  display: none; }

.anchor {
  display: block;
  position: relative;
  top: -25px;
  visibility: hidden; }

.up-page {
  width: 65px;
  position: fixed;
  display: none;
  bottom: 20px;
  right: 10px;
  cursor: pointer; }

@media (min-width: 768px) {
  .title-container {
    max-width: 600px;
    height: 550px;
    margin-top: 80px; }

  @-webkit-keyframes img-arrow {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    25%,
    75% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px); } }
  @keyframes img-arrow {
    0%,
    50%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    25%,
    75% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px); } }
  .img-arrow {
    width: 90px; }

  .img-arrow:hover {
    -webkit-animation: img-arrow 1s ease;
    animation: img-arrow 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

  .btn-menu {
    display: none; }

  .menu {
    width: 100%; }

  .nav {
    display: flex;
    width: 90%;
    max-width: 980px;
    height: 4rem;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    background: #5d6836;
    opacity: 0.8; }

  .nav-link {
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 4rem;
    display: block; }

  .nav-item:hover {
    background: rgba(255, 255, 255, 0.175); }

  .nav-link:hover {
    color: #878670; }

  .nav-item-active {
    background: white; }

  .nav-link-active {
    color: #5d6836; }

  .nav-link-active:hover {
    color: #878670;
    background: white; }

  .submenu-data {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    background-color: white; }

  .submenu-data-items {
    list-style: none;
    display: inline;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative; }

  .submenu-data-links {
    text-decoration: none;
    text-transform: uppercase;
    color: #5d6836;
    font-size: 14px;
    padding: 12px;
    display: block; }

  .submenu-data-links:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 30px;
    right: 100%;
    bottom: 4px;
    background: #878670;
    height: 3px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s; }

  .submenu-data-links:hover:before, .submenu-data:focus:before, .submenu-data:active:before {
    right: 30px; }

  .active {
    color: #878670; }

  .menu-small-content {
    display: none; }

  .fixed {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: #5d6836;
    opacity: 0.9;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
    transition: 1.2s; }

  .anchor {
    top: -100px; }

  .icon-up {
    display: none; } }
.container {
  width: 100%;
  max-width: 980px;
  margin: auto;
  padding: 5% 5%;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
  background: white; }

.box-article {
  text-align: center;
  padding-top: 5%; }
  .box-article p {
    text-align: justify; }
  .box-article ul {
    margin: 0 10%; }
  .box-article li {
    text-align: left;
    font-family: "Merriweather", serif; }

.section-container {
  max-width: 300px;
  color: white;
  text-align: center;
  margin: 0 auto; }

.img-common {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%; }

.img-testim {
  width: 300px;
  margin-top: 5%; }

.text-border {
  padding: 4%;
  border-bottom: 0.5px solid #666666; }

input {
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 20px 30px; }

.showdata {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.viz {
  display: block;
  margin: 0 1em; }
  .viz h3 {
    font-size: 80%; }
  .viz a {
    text-decoration: none; }
  .viz .footer {
    text-align: right;
    font-size: small;
    font-style: italic; }
  .viz .pie {
    float: left;
    width: 50%; }
  .viz .loader {
    height: 300px; }

.town {
  display: inline-block; }

.img-container .img-common {
  margin: 0; }

.img-container.derecha {
  float: right;
  width: 50%;
  margin: 0 0 0 1em;
  clear: both; }

.img-container.izquierda {
  float: left;
  width: 50%;
  margin: 0 1em 0 0; }

@media (min-width: 768px) {
  .container {
    width: 90%;
    max-width: 980px;
    padding: 0% 5% 1% 5%;
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25);
    background: white;
    margin-left: auto;
    margin-right: auto; }

  .section-container {
    max-width: 600px;
    height: 200px;
    margin-top: 80px; }

  .testimonious-flex {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%; }

  .tableauPlaceholder {
    z-index: 0;
    margin-bottom: 50px; } }
footer {
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }

.icon-social {
  width: 50px;
  padding-right: 5%; }

.text-footer {
  color: white; }

@media (min-width: 768px) {
  footer {
    justify-content: space-around;
    padding-top: 2%; }

  .icon-social {
    width: 70px; } }
.main-test-title {
  letter-spacing: 0.075em;
  padding-bottom: 2%;
  padding-top: 4%;
  max-width: 980px;
  margin: auto;
  background-color: white;
  text-align: center;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25); }

.posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 980px;
  margin: auto;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.25); }

.posts-container article {
  display: block;
  border: 1px solid #ebead9;
  padding: 5%;
  margin: auto;
  max-width: 100%;
  background-color: white; }

.posts-container h3 {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.075em;
  text-align: center; }

.post-article a {
  color: inherit;
  text-decoration: none; }

.posts-container p {
  text-align: justify; }

.posts-container img {
  width: 100%; }

.posts-container button {
  display: block;
  text-transform: uppercase;
  margin: auto; }

@media (min-width: 768px) {
  .main-test-title {
    width: 90%; }

  .posts-container {
    width: 90%;
    flex-direction: row; }

  .posts-container article {
    max-width: 50%; } }
.adalab {
  text-align: center;
  padding: 2%;
  width: 100px; }

.team-web {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.team-github {
  display: flex;
  flex-direction: column; }

.icon-socialB {
  width: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 40%; }

@media (min-width: 768px) {
  .adalab {
    width: 180px; }

  .icon-socialB {
    width: 40px;
    margin-top: 0;
    margin-bottom: 10px; } }

/*# sourceMappingURL=index.css.map */
